.nav{
    height: 3.2em;
}

.logga{
    text-align: left;
    width: 10px;
    display: inline;
}

.form {
    text-align: right;
    display: inline;
}

/*@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}*/