.MyNavBar{
    height: 5.5em;

}

.NotLoggedIn {
    color: red;
    display:none;
}

.LoggedIn {
    color: blue;
    display:none;
}

#logout {
    visibility: hidden;
}
#submit {
    visibility: visible;
}

.MyFooter {
    height: 3em;
    font-style: italic;
}



/* .nav{
    height: 3.2em;
}

.logga{
    text-align: left;
    width: 10px;
    display: inline;
}

.form {
    text-align: right;
    display: inline;
} */

/*@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}*/